
.details_container {
  height: 100vh;
  width: 100%;
  background-color: rgb(10, 26, 94);
}

.details_image_container {
  width: 100%;
  height: 46%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  border-bottom: 3px solid rgb(10, 26, 94); 
}

.details_info_container {
  height: 54%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details_view_body {
  background-color: rgb(104, 159, 205);
  padding: 0;
  margin: 0 auto;
  height: 74%;
  width: 98%;
  position: absolute;
  top: 205px;
  left: 1%;
}

.details {
  width: 95%;
  margin: 5px auto;
}

.title {
  font-size: 2.2rem;
  margin-top: 20px;
}

.body {
  font-size: 1.2rem;
}

.rating_values {
  color: gainsboro;
}

.out_of {
  color: rgb(10, 26, 94)
}

.link_to_main {
  text-decoration: none;
    display: block;
    padding: 8px 5px;
    height: 25px;
    width: 20%;
    /* padding-top: 10px; */
    font-size: 1rem;
    margin: 8px auto 0 auto;
    color: white;
    border: 2px solid white;
}

@media only screen and (min-width: 400px) {
  .details_info_container {
    background-color: pink;
  }
}